.greeting-continer{
    top: 0;
    background: rgb(82, 134, 112);
    text-align:center;
    padding-bottom: 10px;
}

.img-Rose{
    /* top: 0;
    left: 50%; */
    height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-greet{
    font-family: 'Consolas', sans-serif;
    margin: 10px 50px 30px 50px;
}