@import "~video-react/styles/scss/video-react";

.timeline-gambar{
   // width: 80vh;
   height: 100%;
}

.timeline-judul{
   text-align: left;
}
.pesan{
    text-indent: 50px;
    text-align:justify;  
     text-justify:auto;
}
.timeline{
   font-family: 'SweetsDelight','Mogalaris', sans-serif;
   letter-spacing: 1px;
    font-size:50px; 
   color:black;
   font-weight: 300;
   text-shadow: 1px 1px 10px rgb(116, 150, 132);
}

