
.Countdown{
    margin: 30px auto;
    // padding-bottom: 20px;
    font-family:'Mogalaris','SweetsDelight', sans-serif;
  }

  .count-title{
    font-family:'SweetsDelight','Mogalaris', sans-serif;
  }
  
  .Countdown-col{
     display: inline-block;
    // border-radius: 25%;
    position: relative;
    // float: left;
    height: 110px;
    width: 80px;
    margin-right: 10px;
    background-color:rgb(116, 150, 132);
    border-radius: 8px; 
    box-shadow:(0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08));
    
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 50px;
  }

