body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(82, 134, 112);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'SweetsDelight';
  src: local('SweetsDelight'), url(./fonts/SweetsDelight.otf) format('opentype');
}

@font-face {
  font-family: 'Mogalaris';
  src: local('Mogalaris'), url(./fonts/Mogalaris.otf) format('opentype');
}